ol {
    text-align: center;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

[data-tooltip] {
  position: relative; /* Относительное позиционирование */ 
}

[data-tooltip]::after {
  content: attr(data-tooltip); /* Выводим текст */
  position: absolute; /* Абсолютное позиционирование */
  width: fit-content; /* Ширина подсказки */
  font-size: 12pt;
  background: rgba(57, 201, 64, 0.8); /* Синий цвет фона */
  color: #fff; /* Цвет текста */
  padding: 0.5em; /* Поля вокруг текста */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
  pointer-events: none; /* Подсказка */
  opacity: 0; /* Подсказка невидима */
  transition: 1s; /* Время появления подсказки */
}

[data-tooltip]:hover::after {
  opacity: 1; /* Показываем подсказку */
  top: 2em; /* Положение подсказки */
  z-index: 1;
}
